*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Navbar */
.navbarContainer{
    height: 50px;
    width: 100%;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

/* Navbar leftside*/
.navbar-left{
    flex: 4;
    display: flex;
    align-items: center;
}
.navbar-left .logo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.navbar-search{
    margin-left: 30px;
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.navbar-search-icon{
    margin-left: 10px;
}
.navbar-search-bar{
    border: none;
    width: 80%;
}
.navbar-search-bar:focus{
    outline: none;
}

/* Navbar center*/
.navbar-center{
    flex: 4;
    display: flex;
    justify-content: center;
}
.navbar-link{
    display: flex;
    align-items: center;
    margin: 0px 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.navbar-link:hover{
    background-color: rgb(59, 157, 255);
}
.navbar-link-text{
    margin-left: 10px;
}

/* Navbar rightside*/
.navbar-right{
    flex: 4;
    display: flex;
    align-items: center;
    color: white;
    justify-content: right;
}
.navbar-icons{
    display: flex;
}
.navbar-icons-item{
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.navbar-icons-item:hover{
    background-color: rgb(59, 157, 255);
}
.navbar-icons-item-icon{
    font-size: 30px !important;
}
.navbar-icons-item-badge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1px;
    top: 2px;
    font-size: 15px;
}
/* Navbar rightside user contain*/
.navbar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px;
    border-radius: 40px;
}
.navbar-user:hover{
    background-color: rgb(59, 157, 255);
}
.navbar-user-name{
    margin-right: 5px;
}
.navbar-avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}


/* Main page*/
.mainContainer{
    display: flex;
}

/* Sidebar*/
.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
}
.sidebar-items{
    padding: 20px;
}
/* Sidebar user*/
.sidebar-user{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}
.sidebar-user:hover{
    background-color: aliceblue;
}
.sidebar-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar-user-name{
    margin-left: 10px;
    font-weight: bold;
}
/* Sidebar list item*/
.sidebar-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidebar-list-item{
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.sidebar-list-item:hover{
    background-color: aliceblue;
}
.sidebar-list-item-icon{
    font-size: 40px !important;
}
.sidebar-list-item-text{
    margin-left: 10px;
    font-weight: bold;
}
.sidebar-line{
    margin: 10px 0 0 10px;
    width: 80%;
}

/* New feed*/
.feed{
    flex: 6;
}
.feed-items{
    padding: 20px 100px;
}

/*Share*/
.share{
    background-color: aliceblue;
    border-radius: 10px;
}
/*Share top*/
.share-top{
    display: flex;
    align-items: center;
    padding: 20px;
}
.share-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.share-input{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-left: 20px;
    border: none;
    background-color: rgb(205, 226, 233);
}
.share-input-box{
    margin-left: 20px;
    align-items: center;
    border: none;
    background-color: rgb(205, 226, 233);
    width: 85%;
    font-size: 18px;
}
.share-input-box:focus{
    outline: none;
}
.share-btn{
    margin-left: 20px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(58, 174, 252);
    color: #fff;
    font-weight: 500;
    padding: 0px 10px;
}
.share-btn:hover{
    background-color: rgb(108, 184, 255);
}
/*Share bottom*/
.share-bottom{
    padding: 0px 20px 10px 20px;
}
.share-options{
    display: flex;
    justify-content: space-around;
}
.share-option-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.share-option-item:hover{
    background-color: rgb(205, 226, 233);
}
.share-option-item-icon{
    font-size: 40px !important;
}

/* Post*/
.post{
    margin-top: 15px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}
/* Post top*/
.post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.post-top-left{
    display: flex;
    align-items: flex-start;
}
.post-top-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.post-top-user{
    margin-left: 20px;
}
.post-top-user-name{
    cursor: pointer;
    font-weight: 500;
}
.post-top-user-time{
    font-size: 13px;
}
.post-top-more{
    cursor: pointer;
}
/* Post center*/
.post-center{
    margin: 0 20px;
}
.post-center-media{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-top: 10px;
    background-color: black;
}
/* Post bottom*/
.post-bottom{
    padding: 5px 20px 10px 20px;
}
.post-bottom-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post-bottom-count-like{
    display: flex;
    align-items: center;
}
.post-bottom-count-text{
    margin-left: 5px;
}
.post-bottom-count-icon{
    font-size: 18px !important;
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 50%;
    background-color:rgb(58, 174, 252);
}
.post-bottom-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
.post-bottom-like-comment{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.post-bottom-like-comment-text{
    font-weight: 500;
    margin-left: 5px;
}
.post-bottom-like-comment:hover{
    background-color: rgb(205, 226, 233);
}

/* Rightbar*/
.rightbar{
    flex: 3;
}