*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
body{
    background-color: #f0f2f5;
    color: black;
}
::-webkit-scrollbar{
    width: 5px !important;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #b4b4b4;
    border-radius: 5px;
}

.mainContainer{
    display: flex;
}

.login-container{
    display: flex;
    justify-content: center;
    background-color: #0004ff;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
}
.login-form{
    
    background-color: #ffffff;
    
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-form form{
    width: 100%;
}
.login-form form input{
    margin: 10px 0;
    width: 80%;
}
.login-gg-btn{
    height: 50px;
    max-width: 200px;
}